<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2075189427-cn6kuou4plrq6vm24lj10344t42pbfg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2075189427-cn6kuou4plrq6vm24lj10344t42pbfg7</string>
	<key>API_KEY</key>
	<string>AIzaSyAz98Kc_mMxsQaRM3pa4gIz8KUtAm10SxM</string>
	<key>GCM_SENDER_ID</key>
	<string>2075189427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilyasaazmi.Basar</string>
	<key>PROJECT_ID</key>
	<string>basar-54f5a</string>
	<key>STORAGE_BUCKET</key>
	<string>basar-54f5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2075189427:ios:d3101f726c6cb22eb3d0c6</string>
</dict>
</plist>